<h1>Pomodoro</h1>

<div *ngIf="currentPomodoro == null">
  <p>Você não tem nenhum pomodoro</p>
  <input type="button" value = "Iniciar Pomodoro" (click)= "startPomodoro()"/>
</div>

<div *ngIf="currentPomodoro != null">
  <p>Pomodoro em andamento</p>
  <h1>{{ displayTimer | date:"mm:ss" }}</h1>
</div>

<div *ngIf="currentPomodoro != null">
  <input type="button" value = "Parar Pomodoro" (click)="stopPomodoro()"/>
</div>


<p>Você ja executou {{ allPomodoro.length }} pomodoros.</p>
<ul>
  <li *ngFor="let p of allPomodoro">
    [
    <span *ngIf="p.type === 0">types.TASK</span>
    <span *ngIf="p.type === 1">types.BREAK</span>
    <span *ngIf="p.type === 2">types.LONG_BREAK</span>
    ]
    {{ p.start | date:"HH:mm:ss"}} às 
    {{ p.finish | date:"HH:mm:ss"}}
  </li>
</ul> 


